<%= render 'layouts/search' %>

<h1>検索結果</h1>
<% @games.each do |game| %>
    <div class="image">
      <%= link_to (image_tag(game[:image], style: "width: 70px;height: 100px;display: inline-block;")), game[:url] %>
    <div>
    <div class="title">
      <%= link_to game[:title], game[:url] %>
    </div>
    <div class="manufacturer">
      <%= game[:manufacturer] %>
    </div>
    <div class="price">
      <%= game[:price] %>
    </div>
  <%= form_with url: games_path do |form| %>
    <%= form.hidden_field(:asin, value: game[:asin]) %>
    <%= form.hidden_field(:status, value: '1') %>
    <%= form.submit "登録" %>
  <% end %>
<% end %>
