<div class="top">
  <section id="header" class="ui centered stackable grid">
    <div class="ui row">
      <div class="center aligned column">
        <div id="header-logo">
          <h1>
            <img src="./images/logo.png" alt="ゲームソフト管理サービス" class="ui medium centered image" style="background-color: #2E2F30; height: 200px">
          </h1>
        </div>
        <div id="header-catch">
          <br class="computer only">
          <div class="ui large header">
            見出し
            <div class="sub header">
              説明文
            </div>
          </div>
          <%= button_to '/auth/twitter', class: 'ui twitter large fluid button', method: :get do %>
            <i class="twitter icon"></i> Twitterでログイン（無料）
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section id="usage" class="ui centered stackable grid">
    <div class="ui mini divider"></div>
    <div class="ui row">
      <div class="center aligned column">
        <h2 class="ui large header">
          見出し
          <p class="sub header">
            説明文
          </p>
        </h2>
        <br>
        <div class="ui stackable centered two cards">
          <div class="ui card">
            <div class="image">
              <img src="./images/mailbox.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui row">
      <div class="center aligned column">
        <h2 class="ui large header">
          見出し
          <p class="sub header">
            説明文
          </p>
        </h2>
        <br>
        <div class="ui stackable centered two cards">
          <div class="ui card">
            <div class="image">
              <img src="./images/mailbox.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="popular-games" class="ui centered stackable grid">
    <div class="ui mini divider"></div>
    <div class="ui row">
      <div class="twelve wide center aligned column">
        <h2 class="ui large header">
          最近登録された人気ゲーム
        </h2>
        <br>
        <div class="ui unstackable divided items">
          <% @games.each do |g| %>
            <div class="item">
              <div class="ui tiny image">
                <%= link_to (image_tag(g[:data].image)), g[:data].url %>
              </div>
              <div class="content">
                <%= link_to g[:data].title, g[:data].url, class: "ui small header" %>
                <div class="meta">
                  <span class="manufacturer"><%= g[:data].manufacturer %></span>
                </div>
                <div class="extra">
                  <div><i class="user icon"></i><%= g[:count] %></div>
                  <div><i class="star icon"></i><%= g[:average] %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section id="under-login-button" class="ui centered stackable grid">
    <div class="ui mini divider"></div>
    <div class="ui row">
      <div class="center aligned column">
        <%= button_to '/auth/twitter', class: 'ui twitter large fluid button', method: :get do %>
          <i class="twitter icon"></i> Twitterでログイン（無料）
        <% end %>
      </div>
    </div>
  </section>
</div>