<div class="top">
  <div class="eye-catch" style="background-color: #730E15; height: 400px">
    <div class="ui twitter button">
      <i class="twitter icon"></i><%= link_to 'Twitterでログイン', '/auth/twitter', style: 'color:#fff' %></div>
  </div>
  <div class="ui unstackable divided items">
    <div class="search-form">
      <%= form_tag("/", method: "get") do %>
        <div class="ui icon mini action input">
          <input type="text" id="search_word" name="search_word" placeholder="ゲームを検索する">
          <button class="ui icon basic button">
            <i class="search link icon"></i>
          </button>
        </div>
      <% end %>
    </div>
    <div class="ui header">最近人気のゲーム</div>
    <% @games.each do |g| %>
      <div class="item">
        <div class="ui tiny image">
          <%= link_to (image_tag(g[:image])), g[:url] %>
        </div>
        <div class="content">
          <%= link_to g[:title], g[:url], class: "ui small header" %>
          <div class="meta">
            <span class="manufacturer"><%= g[:manufacturer] %></span>
          </div>
          <div class="extra">
            <div><i class="user icon"></i><%= g[:count] %></div>
            <div><i class="star icon"></i><%= g[:average] %></div>
            <div><i class="pencil alternate icon"></i></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>