<%= render 'games/link' %>

<% if notice %>
  <div class="ui positive message">
    <p><%= notice %></p>
  </div>
<% end %>

<%= form_with(model: @game, class: "ui form") do |form| %>
  <div class="ui segment">
    <%= image_tag(@game.image, class: "ui centered small image") %>
    <div class="ui centered header">
      <%= @game.title %>
    </div>
  </div>
  <div class="field">
    <label>プレイ状況</label>
    <%= form.select :status,
      {ほしい: 1, 今やってる: 2, クリア済: 3, 積みゲー: 4},
      {},
      {class: "ui search dropdown"} %>
  </div>
  <div class="field">
    <label>価格</label>
    <%= form.number_field :price %>
  </div>
  <div class="field">
    <label>評価</label>
    <div class="ui star rating" data-rating="<%= @game.evaluation %>" data-max-rating="5"></div>
    <%= form.hidden_field :evaluation, value: 1 %>
  </div>
  <div class="field">
    <label>感想・メモ</label>
    <%= form.text_area :memo %>
  </div>
  <div class="field">
    <label>プラットフォーム</label>
    <%= form.number_field :platform %>
  </div>
  <%= form.submit '更新', class: "ui teal button", style: "display:block; width:80%; margin: 0 auto;" %>
<% end %>

<%= link_to '削除', @game, class: "ui button", style: "display:block; width:80%; margin: 10px auto;", method: :delete, data: { confirm: 'このゲームを削除しますか？' } %>

<script>
  $('.ui.rating').rating();
</script>