<p id="notice"><%= notice %></p>
<%= render 'games/link' %>
<%= form_with(model: @game) do |form| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= image_tag(@game.image, style: "width: 70px;height: 100px;display: inline-block;") %></div>

  <div class="field"><%= @game.title %></div>

  <div class="field"><%= @game.manufacturer %></div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, {ほしい: 1, 今やってる: 2, クリア済: 3, 積みゲー: 4} %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.number_field :platform %>
  </div>

  <div class="field">
    <%= form.label :evaluation %>
    <%= form.number_field :evaluation %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :play_time %>
    <%= form.number_field :play_time %>
  </div>

  <div class="actions">
    <%= form.submit '更新' %>
  </div>
<% end %>

<div>
  <%= link_to '削除', @game, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
