<p id="notice"><%= notice %></p>
<%= form_with(model: @game, class: "ui form") do |form| %>
  <div>
    <%= image_tag(@game.image, style: "width: 70px;height: 100px;display: inline-block;") %>
  </div>
  <div class="field">
    <%= @game.title %>
  </div>
  <div class="field">
    <%= @game.manufacturer %>
  </div>
  <div class="field">
    <label>プレイ状況</label>
    <%= form.select :status,
      {ほしい: 1, 今やってる: 2, クリア済: 3, 積みゲー: 4},
      {},
      {class: "ui search dropdown"} %>
  </div>
  <div class="field">
    <label>プラットフォーム</label>
    <%= form.number_field :platform %>
  </div>
  <div class="field">
    <label>評価</label>
    <div class="ui star rating" data-rating="<%= @game.evaluation %>" data-max-rating="5"></div>
    <%= form.hidden_field :evaluation, value: 1 %>
  </div>
  <div class="field">
    <label>感想・メモ</label>
    <%= form.text_area :memo %>
  </div>
  <div class="field">
    <label>プレイ時間</label>
    <%= form.number_field :play_time %>
  </div>
  <%= form.submit '更新', class: "ui button" %>
<% end %>

<%= link_to '削除', @game, class: "ui button", method: :delete, data: { confirm: 'Are you sure?' } %>
