<p id="notice"><%= notice %></p>
<%= render 'layouts/search' %>

<div><%= image_tag(@user.image_url) %></div>
<div><%= @user.user_name %></div>

<%= render 'games/link' %>

<% if @games.size == 0 %>
  <div>ゲームソフトが登録されていません。</div>
<% else %>
  <% @games.each do |game| %>
    <div><%= image_tag(game.image, style: "width: 70px;height: 100px;display: inline-block;") %></div>
    <div class="title"><%= link_to game.title, edit_game_path(game) %></div>
  <% end %>
<% end %>
