<% if notice %>
  <div class="ui positive message">
    <p><%= notice %></p>
  </div>
<% end %>

<div class="user-info">
  <div class="ui unstackable items">
    <div class="item">
      <div class="image">
        <%= image_tag(@user.image_url, class: "ui tiny image") %>
      </div>
      <div class="content">
        <span class="header"><%= @shelf_label %></span>
        <div class="meta">
          <span>@<%= @user.screen_name %></span>
        </div>
        <div class="description" style="margin-top: 20px">
          <div class="ui relaxed divided list">
            <div class="item">
              <i class="gamepad icon" style="padding-right:12px"></i>
              <div class="content">
                <span><%= @games.size %> 本</span>
              </div>
            </div>
            <div class="item">
              <i class="yen sign icon" style="padding: 0 15px 0 4px"></i>
              <div class="content">
                <span><%= @total_price %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'games/link', local: {params: @params} %>

<div class="game-list">
  <% if @games.size == 0 %>
    <div>ゲームソフトが登録されていません。</div>
  <% else %>
    <div class="ui grid">
      <% @games.each do |game| %>
        <div class="column ">
          <div class="ui segment" style="padding:0">
            <%= link_to image_tag(game.image, style: "width:100%"), edit_game_path(game) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>