<% if notice %>
  <div class="ui positive message">
    <p><%= notice %></p>
  </div>
<% end %>

<%= image_tag(@user.image_url, class: "ui tiny image") %>
<span class="ui header"><%= @user.user_name %>さんのゲーム棚</span>

<%= render 'games/link' %>

<% if @games.size == 0 %>
  <div>ゲームソフトが登録されていません。</div>
<% else %>
  <div class="ui three column grid">
    <% @games.each do |game| %>
      <div class="column">
        <div class="ui segment" style="padding:0">
          <%= link_to image_tag(game.image, style: "width:100%"), edit_game_path(game) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

